/** Header and Image **/
#header{
    color: orange;
    font-size: 32px;
}

#description{
    color: Orange;
}

#imageAndHeader{
	margin: 0 auto;
	text-align: center;
}

#garfieldImage{
    border-radius: 20px;
    border-width: 10px;
    border-color: orange;
    border-style: solid;
}

#ingredientsList{
    list-style-type: circle;
    color: #FAF9F6;
}

#stepsList{
    color: #FAF9F6;
}


#parentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.childContainer{
    display: flex;
    flex: auto;
}

.subHeader{
    color: #FAF9F6;
    text-align: center;
}


body{
    background-color: #2b2a33 ;
}

footer{
    flex: 1 1 auto;
}