#header{
    color: orange;
    font-size: 32px;
}

#description{
    color: Orange;

}

#ingredientsList{
    list-style-type: circle;
    color: #FAF9F6;

}

#stepsList{
    color: #FAF9F6;

}

#imageAndHeader{
	margin: 0 auto;
	text-align: center;
}

#garfieldImage{
    border-radius: 20px;
    border-width: 10px;
    border-color: orange;
    border-style: solid;
}

#parentContainer{
	display:flex;
	justify-content:center;
	height:300px;
	width:500px;
	padding:40px;
	flex-wrap:wrap;

}

.childContainer{
	flex:auto;
	flex-direction: row;

}

.subHeader{
    color: #FAF9F6;

}

body{
    background-color: #2b2a33 ;
}

footer{
	margin: 0 auto;
	text-align:center;
}
